@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  background: url("../assets/background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body {
  color: #333;
}

h1,
h2,
h3 {
  font-weight: bold;
}

button {
  transition: all 0.3s ease-in-out;
}

input,
button {
  outline: none;
}

.event-page {
  background: url("../assets/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
